<template>
	<div class="container">
		<MainMenu/>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<form action="">
						<form-group>
							<label for="nombre"> Categoria</label>
							<input type="text" class="form-control">
						</form-group>
							<form-group>
							<label for="nombre"> Descripcion</label>
							<input type="text" class="form-control">
						</form-group>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import MainMenu from "./MainMenu.vue";
	export default {
		mounted() {
			console.log('Component ready.')
		},
		components: {
			MainMenu
		}
	}
</script>
